#hero {
    background-color: #268ac4;
    background-image: url("../images/scream.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 30px;
    color: rgb(219, 241, 185);
}

.hero_job {
    font-family: "Open sans", "Coolvetica", sans-serif;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero_edu {
    font-family: "Ubuntu", sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: rgb(233, 198, 198);
}

.hero_button {
    width: 200px;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: normal;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: "ranade", sans-serif;
    border-radius: 2px;
    border: 1px solid rgb(255, 192, 192);
    cursor: pointer;
    background-color: transparent
}