.sidebar_hamburger {
    padding: 30px 15px;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    transition-duration: 500ms;
    z-index: 50;
    font-size: 24px;
}

.sidebar_hamburger_translate {
    transform: translateX(300px);
}

.sidebar_content {
    width: 300px;
    height: 100vh;
    background: #c1d5df;
    position: fixed;
    top: 0;
    left: -300px;
    /* initially 0 for dev*/
    overflow-y: scroll;
    transition-duration: 500ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
}

.sidebar_hamburger_translate+.sidebar_content {
    transform: translateX(300px);
}

.sidebar_image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.sidebar_name {
    font-size: 22px;
    color: black;
    margin-bottom: 7.5px;
    font-family: "Poppins", serif;
    font-weight: bold;
    text-transform: capitalize;
}

.sidebar_job {
    font-size: 12px;
    font-weight: normal;
    color: #2c98f0;
    text-transform: uppercase;
}

.sidebar_job>span {
    color: rgba(0, 0, 0, 0.7);
}

.sidebar_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.sidebar_list_item {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    cursor: pointer;
}

.sidebar_list_item::after {
    content: "";
    width: 0px;
    height: 1px;
    background: #2c98f0;
    position: absolute;
    top: calc(100% + 2px);
    left: 50%;
    transform: translateX(-50%);
    transition: all ease 0.2s;
}

.sidebar_list_item:hover::after {
    width: 120%;
}

.sidebar_copyright {
    padding: 0 20px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 12px;
    line-height: 2;
}

.sidebar_copyright>span {
    color: #2c98f0;
}